mixin articleSort(posts)
    .article-sort
        - let year
        - posts.forEach(article => {
            - const y = date(article.date, 'YYYY')
            - const title = article.title || __('page.untitled')
            - const coverUrl = article.cover || (theme.appearance && theme.appearance.post && theme.appearance.post.default_cover)
            if y !== year
                - year = y
                .article-sort-item.year= year
            .article-sort-item(class= coverUrl ? '' : 'no-article-cover')
                if coverUrl
                    a.article-sort-item-img(href=url_for(article.path) title=title)
                        img(src=url_for(coverUrl) alt=title)
                .article-sort-item-info
                    .article-sort-item-time
                        i.far.fa-calendar-alt
                        time.post-meta-date-created(datetime=date_xml(article.date) title=__('page.published_at') + ' ' + full_date(article.date))= date(article.date, config.date_format || 'YYYY-MM-DD')
                    a.article-sort-item-title(href=url_for(article.path) title=title)= title
        - })

