header#header(class=theme.header && theme.header.fixed ? 'fixed' : '')
	#nav-inner
		#blog-info
			a.nav-site-title(href=config.url || '/')
				if theme.site && theme.site.logo
					img.site-icon(src=url_for(theme.site.logo) alt='Logo')
				span.site-name= (theme.site && theme.site.title) ? theme.site.title : config.title
		nav#menus
			ul.menus_items
				each item in theme.nav || []
					li.menus_item
						a.site-page(href=item.link)= item.text
		#nav-right
			button#open-search(type='button' aria-controls='search-modal' aria-label='Search')
				span.site-page.social-icon.search 🔍
