section.widget.widget-archives
	h3= __('widget.archives.title')
	- const months = {}
	- (site.posts && site.posts.toArray() || []).forEach(p => { const ym = date(p.date, 'YYYY-MM'); months[ym] = (months[ym]||0)+1 })
	- const keys = Object.keys(months).sort((a,b) => b.localeCompare(a))
	if keys.length
		ul.arc-grid
			each ym in keys
				- const cnt = months[ym]
				- const parts = ym.split('-')
				- const label = __('widget.archives.month_format').replace('{year}', parts[0]).replace('{month}', parts[1])
				- const unit = __('widget.archives.unit')
				li.arc-item
					a.arc-box(href=url_for(`/archives/${ym}/`))
						div.year= label
						div.count= cnt + unit
