section.widget.widget-tags
	h3= __('widget.tags')
	- const tagList = site.tags && site.tags.sort('name').toArray() || []
	if tagList.length
		.tag-list
			each t in tagList
				- const href = url_for(t.path)
				- const name = t.name
				- const count = t.length
				a.tag-text(href=href, title=name)
					span.name= name
					span.count= count
